@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Index for Sensor Data", "Index", "SensorDatas")<br />
    @Html.ActionLink("Create Record for Sensor Data", "Create", "SensorDatas")<br />
    @Html.ActionLink("Delete Record from Sensor Data", "Delete", "SensorDatas")<br />
    @Html.ActionLink("Edit Sensor Data Record", "Edit", "SensorDatas")<br />
    @Html.ActionLink("Details of Sensor Data", "Details", "SensorDatas")<br />
</div>

<div>
    @Html.ActionLink("Index for Location Data", "Index", "LocationDatas")<br />
    @Html.ActionLink("Create Record for Location Data", "Create", "LocationDatas")<br />
    @Html.ActionLink("Delete Record from Location Data", "Delete", "LocationDatas")<br />
    @Html.ActionLink("Edit Location Data", "Edit", "LocationDatas")<br />
    @Html.ActionLink("Details of Location Data", "Details", "LocationDatas")<br />
</div>

<div>
    @Html.ActionLink("Index for User Data", "Index", "UserDatas")<br />
    @Html.ActionLink("Create Record for User Data", "Create", "UserDatas")<br />
    @Html.ActionLink("Delete Record from User Data", "Delete", "UserDatas")<br />
    @Html.ActionLink("Edit User Data", "Edit", "UserDatas")<br />
    @Html.ActionLink("Details of User Data", "Details", "UserDatas")<br />
</div>
