@model Water_Quality_And_Flood_Control.Controllers.SensorData

@{
    ViewBag.Title = "PublicUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Display Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
            @Html.Label("lblName", "unit", new { id = "" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSpeed)
            @Html.Label("lblName", "unit", new { id = "" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterLevel)
            @Html.Label("lblName", "unit", new { id = "" })
        </dd>

    </dl>
</div>
<hr />
<p></p>
<p></p>
<p></p>
<p></p>

<div>
    <h4>WARNING or ALL - CLEAR</h4>
    <hr />
    <p>
        <h5>

            @if (Model.WaterLevel > 20 && Model.CurrentSpeed > 20)
            {
                @Html.DisplayName("FLASH FLOOD WARNING");
            }
            else if (Model.WaterLevel > 20 && Model.CurrentSpeed < 20)
            {
                @Html.DisplayName("FLOOD WARNING");
            }
            else if (Model.WaterLevel < 20 && Model.CurrentSpeed > 20)
            {
                @Html.DisplayName("WATER CURRENT TOO FAST. DONT GO SWIMMING, FISHING OR BOATING");
            }
            else if (Model.WaterLevel < 20 && Model.CurrentSpeed < 20)
            {
                @Html.DisplayName("ALL CLEAR");
            }

        </h5>
    </p>
</div>
<p></p>
<hr />
<p></p>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "UserInterface")
</p>


<div class=" OK " Analysis>
    <input id="OK" type="button" value="OK" />
</div>
